{
    "openapi": "3.0.0",
    "info": {
        "title": "Sport Api Swagger Documentation Anatation",
        "description": "Sport Api Documentation to build the frontend of this site",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "yurayur1990@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sport.napaautomotive.uz/",
            "description": "Sport api server link"
        },
        {
            "url": "https://sport.napaautomotive.uz/",
            "description": "Sport api server link"
        }
    ],
    "paths": {
        "/api/admins": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get all admin list",
                "description": "Via this link All admin datas come",
                "operationId": "admin",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Create admin",
                "operationId": "storeAdmin",
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login": {
                                        "description": "Admin login",
                                        "type": "string",
                                        "default": "admin"
                                    },
                                    "password": {
                                        "description": "Admin password",
                                        "type": "string",
                                        "default": "admin"
                                    },
                                    "pnfl": {
                                        "description": "Admin pnfl",
                                        "type": "integer",
                                        "default": 31805911230083
                                    },
                                    "pasport_seria": {
                                        "description": "Admin passport seria",
                                        "type": "string",
                                        "default": "AB"
                                    },
                                    "pasport_seria_code": {
                                        "description": "Admin passport number",
                                        "type": "integer",
                                        "default": 1234567
                                    },
                                    "fillial_id": {
                                        "description": "Fillial ID number",
                                        "type": "integer",
                                        "default": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/admins/{user}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get one data",
                "description": "Get one",
                "operationId": "showAdmin",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID for user data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update",
                "description": "Update data",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login": {
                                        "description": "Admin login",
                                        "type": "string",
                                        "default": "admin"
                                    },
                                    "password": {
                                        "description": "Admin password",
                                        "type": "string",
                                        "default": "admin"
                                    },
                                    "pnfl": {
                                        "description": "Admin pnfl",
                                        "type": "integer",
                                        "default": 31805911230083
                                    },
                                    "pasport_seria": {
                                        "description": "Admin passport seria",
                                        "type": "string",
                                        "default": "AB"
                                    },
                                    "pasport_seria_code": {
                                        "description": "Admin passport number",
                                        "type": "integer",
                                        "default": 1234567
                                    },
                                    "fillial_id": {
                                        "description": "Admin fillial",
                                        "type": "integer",
                                        "default": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid university supplied"
                    },
                    "404": {
                        "description": "university not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Deletes",
                "operationId": "destroyAdmin",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "course not found"
                    }
                }
            }
        },
        "/api/allData": {
            "get": {
                "tags": [
                    "AllData"
                ],
                "summary": "Get all data ",
                "description": "Via this link All datas come",
                "operationId": "allData",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/allData/{id}": {
            "get": {
                "tags": [
                    "AllData"
                ],
                "summary": "Get one data from Direction database",
                "description": "Via this link a Direction`s data comes to show",
                "operationId": "showAllData",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID for all data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/allScore": {
            "get": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Get all data from fillials database",
                "description": "Via this link All fillials` datas come",
                "operationId": "allScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Register a allScore",
                "operationId": "storeAllScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "direction_id": {
                                        "description": "direction ID",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "Direction category ID",
                                        "type": "integer"
                                    },
                                    "all_score": {
                                        "description": "Direction category score",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/allScore/{allScore}": {
            "get": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Get one data from showAllScore database",
                "description": "Via this link a showAllScore`s data comes to show",
                "operationId": "showAllScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allScore",
                        "in": "path",
                        "description": "ID for avatar data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/allScore/{allScore}/update": {
            "put": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Updated",
                "description": "Update this AllScore",
                "operationId": "updateAllScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allScore",
                        "in": "path",
                        "description": "allScore that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "all_score": {
                                        "description": "Direction category score",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid avatar supplied"
                    },
                    "404": {
                        "description": "avatar not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/allScore/{allScore}/delete": {
            "delete": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Deletes a allScore",
                "operationId": "destroyAllScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allScore",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "Avatar not found"
                    }
                }
            }
        },
        "/api/allScoreWithUserId/{user_id}": {
            "get": {
                "tags": [
                    "AllScore"
                ],
                "summary": "Get one data from showAllScore database",
                "description": "Via this link a showAllScore`s data comes to show",
                "operationId": "userScore",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID for avatar data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login the user",
                "operationId": "login",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login": {
                                        "description": "Type your login to enter",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Enter you password",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "405": {
                        "description": "Invalid input"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a user",
                "operationId": "register",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login": {
                                        "description": "Type your login",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Type your password",
                                        "type": "password"
                                    },
                                    "fillial_id": {
                                        "description": "Type your Fillial",
                                        "type": "integer"
                                    },
                                    "pasport_id": {
                                        "description": "Type your Pasport",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/forgot-password/{pnfl}": {
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "If you forgot password",
                "description": "Change you password with your email",
                "operationId": "a694edfc1a9fb3cad2eb7ab47a4e8257",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pnfl",
                        "in": "path",
                        "description": "pnfl for resent password",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "password": {
                                        "description": "Type your pasport seria",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "Type your pasport seria code",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/avatar": {
            "get": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Get all data from Avatar database",
                "description": "Via this link All Avatar` datas come",
                "operationId": "avatar",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Store an avatar",
                "operationId": "storeAvatar",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "user_id": {
                                        "description": "Type user id",
                                        "type": "integer"
                                    },
                                    "photo": {
                                        "description": "Upload your photo avatar",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/avatar/{avatar}": {
            "get": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Get one data from Avatar database",
                "description": "Via this link a Avatar`s data comes to show",
                "operationId": "showAvatar",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avatar",
                        "in": "path",
                        "description": "ID for avatar data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/avatarByUserId/{user_id}": {
            "get": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Get one data from avatarByUserId",
                "description": "Via this link a avatarByUserId`s data comes to show",
                "operationId": "showAvatarByUserId",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID for avatar data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/avatar/{avatar}/update": {
            "put": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Updated",
                "description": "Update this avatar",
                "operationId": "updateAvatar",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avatar",
                        "in": "path",
                        "description": "avatar that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "photo": {
                                        "description": "Upload your photo avatar",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid avatar supplied"
                    },
                    "404": {
                        "description": "avatar not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/avatar/{avatar}/delete": {
            "delete": {
                "tags": [
                    "Avatar"
                ],
                "summary": "Deletes a avatar",
                "operationId": "destroyAvatar",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avatar",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "Avatar not found"
                    }
                }
            }
        },
        "/api/check": {
            "get": {
                "tags": [
                    "Check"
                ],
                "summary": "Get all data from fillials database",
                "description": "Via this link All fillials` datas come",
                "operationId": "check",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "Check"
                ],
                "summary": "Register a pasport",
                "operationId": "storeCheck",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "direction_id": {
                                        "description": "direction ID",
                                        "type": "integer"
                                    },
                                    "direction_category_id": {
                                        "description": "Direction category ID",
                                        "type": "integer"
                                    },
                                    "score": {
                                        "description": "Direction category score",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "User ID",
                                        "type": "integer"
                                    },
                                    "direction_category_name": {
                                        "description": "Direction category name",
                                        "type": "string"
                                    },
                                    "pdf": {
                                        "description": "upload any pdf file",
                                        "type": "file"
                                    },
                                    "admin_permission": {
                                        "description": "Permission of one of an Admin",
                                        "type": "string"
                                    },
                                    "messages": {
                                        "description": "message of one of an Admin",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/check/{check}": {
            "get": {
                "tags": [
                    "Check"
                ],
                "summary": "Get one data from Avatar database",
                "description": "Via this link a Avatar`s data comes to show",
                "operationId": "showCheck",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "description": "ID for avatar data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/downloadPdf/{check_id}": {
            "get": {
                "tags": [
                    "Check"
                ],
                "summary": "Get one data from UserPDF database",
                "description": "Via this link a UserPDF`s data comes to show",
                "operationId": "downloadPdf",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check_id",
                        "in": "path",
                        "description": "ID for userPdf data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/check/{check}/update": {
            "post": {
                "tags": [
                    "Check"
                ],
                "summary": "Updated",
                "description": "Update this avatar",
                "operationId": "updateCheck",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "description": "avatar that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "direction_category_name": {
                                        "description": "Direction category name",
                                        "type": "string"
                                    },
                                    "score": {
                                        "description": "score",
                                        "type": "integer"
                                    },
                                    "pdf": {
                                        "description": "upload any pdf file",
                                        "type": "file"
                                    },
                                    "admin_permission": {
                                        "description": "Permission of one of an Admin",
                                        "type": "string"
                                    },
                                    "messages": {
                                        "description": "message of one of an Admin",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid avatar supplied"
                    },
                    "404": {
                        "description": "avatar not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/check/{check}/delete": {
            "delete": {
                "tags": [
                    "Check"
                ],
                "summary": "Deletes a avatar",
                "operationId": "destroyCheck",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "Avatar not found"
                    }
                }
            }
        },
        "/api/checkUser": {
            "get": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Get all data from checkUser database",
                "description": "Via this link All checkUser` datas come",
                "operationId": "checkUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Register a pasport",
                "operationId": "storeCheckUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "user_id": {
                                        "description": "type user id",
                                        "type": "integer"
                                    },
                                    "permission": {
                                        "description": "permission of one of an Admin",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "message of one of an Admin",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/checkUser/{checkUser}": {
            "get": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Get one data from CheckUser database",
                "description": "Via this link a CheckUser`s data comes to show",
                "operationId": "showCheckUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "checkUser",
                        "in": "path",
                        "description": "ID for checkUser data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/checkUserById/{user_id}": {
            "get": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Get one data from CheckUser database",
                "description": "Via this link a CheckUser`s data comes to show",
                "operationId": "getCheckUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID for user id data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/checkUser/{checkUser}/update": {
            "put": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Updated",
                "description": "Update this checkUser",
                "operationId": "updateCheckUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "checkUser",
                        "in": "path",
                        "description": "checkUser that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "permission": {
                                        "description": "permission of one of an Admin",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "massege of one of an Admin",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid avatar supplied"
                    },
                    "404": {
                        "description": "avatar not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/checkUser/{checkUser}/delete": {
            "delete": {
                "tags": [
                    "CheckUser"
                ],
                "summary": "Deletes a checkUser",
                "operationId": "destroyCheckUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "checkUser",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "Avatar not found"
                    }
                }
            }
        },
        "/api/directionCategory": {
            "get": {
                "tags": [
                    "DirectionCategory"
                ],
                "summary": "Get all data from DirectionCategory database",
                "description": "Via this link All DirectionCategory` datas come",
                "operationId": "direction_category",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/direction": {
            "get": {
                "tags": [
                    "Direction"
                ],
                "summary": "Get all data from Direction database",
                "description": "Via this link All Courses` datas come",
                "operationId": "course",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "Direction"
                ],
                "summary": "Create a new direction",
                "description": "Create a new direction for course table in the database",
                "operationId": "storeDirection",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "description": "Type a title for a course",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid ID supplier"
                    },
                    "404": {
                        "description": "Direction not found"
                    }
                }
            }
        },
        "/api/direction/{id}": {
            "get": {
                "tags": [
                    "Direction"
                ],
                "summary": "Get one data from Direction database",
                "description": "Via this link a Direction`s data comes to show",
                "operationId": "showDirection",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID for direction data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/direction/{direction}/update": {
            "put": {
                "tags": [
                    "Direction"
                ],
                "summary": "Updated",
                "description": "Update this direction",
                "operationId": "updateDirection",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "path",
                        "description": "direction that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "description": "Type a title for a course",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid direction supplied"
                    },
                    "404": {
                        "description": "direction not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/direction/{id}/delete": {
            "delete": {
                "tags": [
                    "Direction"
                ],
                "summary": "Deletes a direction",
                "operationId": "destroyDirection",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid direction supplied"
                    },
                    "404": {
                        "description": "direction not found"
                    }
                }
            }
        },
        "/api/district": {
            "get": {
                "tags": [
                    "DistrictEducation"
                ],
                "summary": "Get all data from DistrictEducation database",
                "description": "Via this link All District Education` datas come",
                "operationId": "districtEducation",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "DistrictEducation"
                ],
                "summary": "Register a district",
                "operationId": "storeDistrictEducation",
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Type your district education name",
                                        "type": "string"
                                    },
                                    "fillial_id": {
                                        "description": "Type fillial id",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/district/{districtEducation}": {
            "get": {
                "tags": [
                    "DistrictEducation"
                ],
                "summary": "Get one data from District Education database",
                "description": "Via this link a District Education`s data comes to show",
                "operationId": "showDistrictEducation",
                "parameters": [
                    {
                        "name": "districtEducation",
                        "in": "path",
                        "description": "ID for districtEducation data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/district/{districtEducation}/update": {
            "put": {
                "tags": [
                    "DistrictEducation"
                ],
                "summary": "Updated",
                "description": "Update this districtEducation",
                "operationId": "updateDistrictEducation",
                "parameters": [
                    {
                        "name": "districtEducation",
                        "in": "path",
                        "description": "districtEducation that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Type your district education name",
                                        "type": "string"
                                    },
                                    "fillial_id": {
                                        "description": "Type fillial id",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid districtEducation supplied"
                    },
                    "404": {
                        "description": "districtEducation not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/district/{districtEducation}/delete": {
            "delete": {
                "tags": [
                    "DistrictEducation"
                ],
                "summary": "Deletes a districtEducation",
                "operationId": "destroyDistrictEducation",
                "parameters": [
                    {
                        "name": "districtEducation",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "course not found"
                    }
                }
            }
        },
        "/api/education": {
            "get": {
                "tags": [
                    "Education"
                ],
                "summary": "Get all data from Education database",
                "description": "Via this link All Education` datas come",
                "operationId": "education",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "Education"
                ],
                "summary": "Register a education",
                "operationId": "storeEducation",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "region_id": {
                                        "description": "Type your district education id",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "Type user id",
                                        "type": "integer"
                                    },
                                    "enter_date": {
                                        "description": "Type your enter date",
                                        "type": "string"
                                    },
                                    "end_date": {
                                        "description": "Type your end date",
                                        "type": "string"
                                    },
                                    "education_name": {
                                        "description": "Type your end date",
                                        "type": "string"
                                    },
                                    "specialization": {
                                        "description": "Type your end date",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/education/{education}": {
            "get": {
                "tags": [
                    "Education"
                ],
                "summary": "Get one data from Education database",
                "description": "Via this link a Education`s data comes to show",
                "operationId": "showEducation",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "education",
                        "in": "path",
                        "description": "ID for education data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/education/{education}/update": {
            "put": {
                "tags": [
                    "Education"
                ],
                "summary": "Updated",
                "description": "Update this education",
                "operationId": "updateEducation",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "education",
                        "in": "path",
                        "description": "education that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "region_id": {
                                        "description": "Type your region id",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "Type user id",
                                        "type": "integer"
                                    },
                                    "enter_date": {
                                        "description": "Type your enter date",
                                        "type": "string"
                                    },
                                    "end_date": {
                                        "description": "Type your end date",
                                        "type": "string"
                                    },
                                    "education_name": {
                                        "description": "Type your education name",
                                        "type": "string"
                                    },
                                    "specialization": {
                                        "description": "Type your specialization",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid education supplied"
                    },
                    "404": {
                        "description": "education not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/education/{education}/delete": {
            "delete": {
                "tags": [
                    "Education"
                ],
                "summary": "Deletes a education",
                "operationId": "destroyEducation",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "education",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid course supplied"
                    },
                    "404": {
                        "description": "course not found"
                    }
                }
            }
        },
        "/api/educationname": {
            "get": {
                "tags": [
                    "EducationName"
                ],
                "summary": "Get all data from EducationName database",
                "description": "Via this link All EducationNames` datas come",
                "operationId": "educationName",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/evaluate/{user_id}": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all data from evaluate database",
                "description": "Via this link All evaluate` datas come",
                "operationId": "evaluate",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "user_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/evaluateCheck/{check_id}/update": {
            "post": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Updated",
                "description": "Update this check",
                "operationId": "updateEvaluateChecks",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "check_id",
                        "in": "path",
                        "description": "avatar that to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "score": {
                                        "description": "score",
                                        "type": "string"
                                    },
                                    "admin_permission": {
                                        "description": "Permission of one of an Admin",
                                        "type": "string"
                                    },
                                    "messages": {
                                        "description": "message of one of an Admin",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid avatar supplied"
                    },
                    "404": {
                        "description": "avatar not found"
                    },
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/direction_user/{direction_id}": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all data from evaluate database",
                "description": "Via this link All evaluate` datas come",
                "operationId": "countDirectionUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction_id",
                        "in": "path",
                        "description": "direction_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/direction_with_user/{direction_id}": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all data from evaluate database",
                "description": "Via this link All evaluate` datas come",
                "operationId": "directionWithUser",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction_id",
                        "in": "path",
                        "description": "direction_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/userInfo/{direction_id}/export": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all user list in excel file",
                "description": "Returns file",
                "operationId": "userInfoExport",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction_id",
                        "in": "path",
                        "description": "direction_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/oneUserInfo/{user_id}/export": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all user list in excel file",
                "description": "Returns file",
                "operationId": "oneUserInfo",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "user id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/user_in_direction/{user_id}": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all data from evaluate database",
                "description": "Via this link All evaluate` datas come",
                "operationId": "userInDirection",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "user_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/downloadpdf/{user_id}": {
            "get": {
                "tags": [
                    "Evaluate"
                ],
                "summary": "Get all data from evaluate database",
                "description": "Via this link All evaluate` datas come",
                "operationId": "download",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "user_id for check data",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/filial": {
            "get": {
                "tags": [
                    "Filial"
                ],
                "summary": "Get all data from fillials database",
                "description": "Via this link All fillials` datas come",
                "operationId": "filials",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Set language parameter by typing uz, ru, en",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            }
        },
        "/api/home-pages": {
            "get": {
                "tags": [
                    "HomePage"
                ],
                "summary": "Get all home page list",
                "description": "Via this link All home page datas come",
                "operationId": "homePage",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                }
            },
            "post": {
                "tags": [
                    "HomePage"
                ],
                "description": "Save home page data",
                "operationId": "storeHomePage",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "photo": {
                                        "description": "file to upload",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "video": {
                                        "description": "Video link",
                                        "type": "string"
                                    },
                                    "photo_text": {
                                        "description": "Photo text",
                                        "type": "string"
[...]
